@import "reset.css";

html {
  font-family: sans-serif;
  color: #323232;
  background: #fcfcfc;/* Old browsers */
background: -webkit-linear-gradient(-45deg, #e0e0e0 0%, #fcfcfc 100%);
background: -moz-linear-gradient(-45deg, #e0e0e0 0%, #fcfcfc 100%);
background: -o-linear-gradient(-45deg, #e0e0e0 0%, #fcfcfc 100%);
background: linear-gradient(-45deg, #e0e0e0 0%, #fcfcfc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#555',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  min-height: 100%;
}


h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
  background-image: url("title-bg.jpeg");
}

h2 {
  font-weight: bold;
  font-size: 1.7em;
  line-height: 1.8em;
}

p {
  margin-bottom: 1em;
  font-size: 1em;
  line-height: 1.3em;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #000000; 
  --gradient-color-2: #5c5c5c; 
  --gradient-color-3: #858585;  
  --gradient-color-4: #000000;
}

.container {
  max-width: 450px;
  margin: 0 auto;
  padding: 10px;
}

.logo {
  width: 100%;
  height: auto;
}

.tagline {
  text-align: center;
}

.links {
  text-align: center;
  margin: 20px auto;
}

.links a {
  display: block;
  position: relative;
  color: #222;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  background: rgba(255,255,255,0.5);
  margin: 0 0 20px;
  border-radius: 5px;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
  text-align: left;
}

.links svg {
  display: inline-block;
  vertical-align: middle;
  fill: #222;
  width: 45px;
  height: 45px;
  margin-right: 25px;
}

.links .text {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.links .primary,
.links .secondary {
  display: block;
}

.links .primary {
  margin-bottom: .3em;
}

.links .secondary {
  font-size: .8em;
  opacity: .8;
}

.links a:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	z-index: 2;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.links a:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
}

.links a:hover:hover {
  box-shadow: inset 0px -2px 5px rgb(255, 255, 255),
  inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.links .getstarted-link {
  background-color: rgba(200, 255, 170, 0.7);
  text-shadow: 0 1px 1px rgba(200, 255, 200, 1);
}

.sosumi {
  text-align: left;
  color: #bcbcbc;
  font-size: .8em;
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box
}

.headshot {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8%;
}

.faq h3{
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.3em;
}

.faq li {
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 6px;
  display: block;
  padding: 0.5em;
  background-color: rgba(255,255,255,0.4)
}

.faq .question {
  font-weight: bold;
  margin-bottom: 0.25em;
}

.faq .answer {
  margin: 0;
}

.row {
  clear:both
}

.row:after {
  content: "";
  display: table;
  clear:both
}

.col {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
  margin-right:0
}

.col:after {
  content: "";
  display: table;
  clear:both
}

.col.tight {
  padding-left: 0;
  padding-right:0
}

.col.wide {
  padding-left: 20px;
  padding-right:20px
}

.col {
  float: left;
}

.col .small-4 {
  width: 33.3%
}

.col .small-8 {
  width: 66.6%
}

@media only screen and (min-width: 800px) {
    .large-1 {
        width: 8.33333%;
        position:relative
    }

    .large-1-fixed {
        width:100px
    }

    .large-push-1 {
        margin-left:8.33333%
    }

    .large-push-1-fixed {
        margin-left:100px
    }

    .large-pull-1 {
        margin-right:8.33333%
    }

    .large-pull-1-fixed {
        margin-right:100px
    }

    .large-2 {
        width: 16.66667%;
        position:relative
    }

    .large-2-fixed {
        width:200px
    }

    .large-push-2 {
        margin-left:16.66667%
    }

    .large-push-2-fixed {
        margin-left:200px
    }

    .large-pull-2 {
        margin-right:16.66667%
    }

    .large-pull-2-fixed {
        margin-right:200px
    }

    .large-3 {
        width: 25%;
        position:relative
    }

    .large-3-fixed {
        width:300px
    }

    .large-push-3 {
        margin-left:25%
    }

    .large-push-3-fixed {
        margin-left:300px
    }

    .large-pull-3 {
        margin-right:25%
    }

    .large-pull-3-fixed {
        margin-right:300px
    }

    .large-4 {
        width: 33.33333%;
        position:relative
    }

    .large-4-fixed {
        width:400px
    }

    .large-push-4 {
        margin-left:33.33333%
    }

    .large-push-4-fixed {
        margin-left:400px
    }

    .large-pull-4 {
        margin-right:33.33333%
    }

    .large-pull-4-fixed {
        margin-right:400px
    }

    .large-5 {
        width: 41.66667%;
        position:relative
    }

    .large-5-fixed {
        width:500px
    }

    .large-push-5 {
        margin-left:41.66667%
    }

    .large-push-5-fixed {
        margin-left:500px
    }

    .large-pull-5 {
        margin-right:41.66667%
    }

    .large-pull-5-fixed {
        margin-right:500px
    }

    .large-6 {
        width: 50%;
        position:relative
    }

    .large-6-fixed {
        width:600px
    }

    .large-push-6 {
        margin-left:50%
    }

    .large-push-6-fixed {
        margin-left:600px
    }

    .large-pull-6 {
        margin-right:50%
    }

    .large-pull-6-fixed {
        margin-right:600px
    }

    .large-7 {
        width: 58.33333%;
        position:relative
    }

    .large-7-fixed {
        width:700px
    }

    .large-push-7 {
        margin-left:58.33333%
    }

    .large-push-7-fixed {
        margin-left:700px
    }

    .large-pull-7 {
        margin-right:58.33333%
    }

    .large-pull-7-fixed {
        margin-right:700px
    }

    .large-8 {
        width: 66.66667%;
        position:relative
    }

    .large-8-fixed {
        width:800px
    }

    .large-push-8 {
        margin-left:66.66667%
    }

    .large-push-8-fixed {
        margin-left:800px
    }

    .large-pull-8 {
        margin-right:66.66667%
    }

    .large-pull-8-fixed {
        margin-right:800px
    }

    .large-9 {
        width: 75%;
        position:relative
    }

    .large-9-fixed {
        width:900px
    }

    .large-push-9 {
        margin-left:75%
    }

    .large-push-9-fixed {
        margin-left:900px
    }

    .large-pull-9 {
        margin-right:75%
    }

    .large-pull-9-fixed {
        margin-right:900px
    }

    .large-10 {
        width: 83.33333%;
        position:relative
    }

    .large-10-fixed {
        width:1000px
    }

    .large-push-10 {
        margin-left:83.33333%
    }

    .large-push-10-fixed {
        margin-left:1000px
    }

    .large-pull-10 {
        margin-right:83.33333%
    }

    .large-pull-10-fixed {
        margin-right:1000px
    }

    .large-11 {
        width: 91.66667%;
        position:relative
    }

    .large-11-fixed {
        width:1100px
    }

    .large-push-11 {
        margin-left:91.66667%
    }

    .large-push-11-fixed {
        margin-left:1100px
    }

    .large-pull-11 {
        margin-right:91.66667%
    }

    .large-pull-11-fixed {
        margin-right:1100px
    }

    .large-12 {
        width: 100%;
        position:relative
    }

    .large-12-fixed {
        width:1200px
    }

    .large-push-12 {
        margin-left:100%
    }

    .large-push-12-fixed {
        margin-left:1200px
    }

    .large-pull-12 {
        margin-right:100%
    }

    .large-pull-12-fixed {
        margin-right:1200px
    }

    .large-remaining {
        float: none;
        overflow:hidden
    }

    .large-last {
        float: right !important;
        right:0
    }

    .large-last:after {
        content: "";
        display: table;
        clear:both
    }
}

@media only screen and (max-width: 800px) {
    .medium-1 {
        width: 8.33333%;
        position:relative
    }

    .medium-1-fixed {
        width:80px
    }

    .medium-push-1 {
        margin-left:8.33333%
    }

    .medium-push-1-fixed {
        margin-left:80px
    }

    .medium-pull-1 {
        margin-right:8.33333%
    }

    .medium-pull-1-fixed {
        margin-right:80px
    }

    .medium-2 {
        width: 16.66667%;
        position:relative
    }

    .medium-2-fixed {
        width:160px
    }

    .medium-push-2 {
        margin-left:16.66667%
    }

    .medium-push-2-fixed {
        margin-left:160px
    }

    .medium-pull-2 {
        margin-right:16.66667%
    }

    .medium-pull-2-fixed {
        margin-right:160px
    }

    .medium-3 {
        width: 25%;
        position:relative
    }

    .medium-3-fixed {
        width:240px
    }

    .medium-push-3 {
        margin-left:25%
    }

    .medium-push-3-fixed {
        margin-left:240px
    }

    .medium-pull-3 {
        margin-right:25%
    }

    .medium-pull-3-fixed {
        margin-right:240px
    }

    .medium-4 {
        width: 33.33333%;
        position:relative
    }

    .medium-4-fixed {
        width:320px
    }

    .medium-push-4 {
        margin-left:33.33333%
    }

    .medium-push-4-fixed {
        margin-left:320px
    }

    .medium-pull-4 {
        margin-right:33.33333%
    }

    .medium-pull-4-fixed {
        margin-right:320px
    }

    .medium-5 {
        width: 41.66667%;
        position:relative
    }

    .medium-5-fixed {
        width:400px
    }

    .medium-push-5 {
        margin-left:41.66667%
    }

    .medium-push-5-fixed {
        margin-left:400px
    }

    .medium-pull-5 {
        margin-right:41.66667%
    }

    .medium-pull-5-fixed {
        margin-right:400px
    }

    .medium-6 {
        width: 50%;
        position:relative
    }

    .medium-6-fixed {
        width:480px
    }

    .medium-push-6 {
        margin-left:50%
    }

    .medium-push-6-fixed {
        margin-left:480px
    }

    .medium-pull-6 {
        margin-right:50%
    }

    .medium-pull-6-fixed {
        margin-right:480px
    }

    .medium-7 {
        width: 58.33333%;
        position:relative
    }

    .medium-7-fixed {
        width:560px
    }

    .medium-push-7 {
        margin-left:58.33333%
    }

    .medium-push-7-fixed {
        margin-left:560px
    }

    .medium-pull-7 {
        margin-right:58.33333%
    }

    .medium-pull-7-fixed {
        margin-right:560px
    }

    .medium-8 {
        width: 66.66667%;
        position:relative
    }

    .medium-8-fixed {
        width:640px
    }

    .medium-push-8 {
        margin-left:66.66667%
    }

    .medium-push-8-fixed {
        margin-left:640px
    }

    .medium-pull-8 {
        margin-right:66.66667%
    }

    .medium-pull-8-fixed {
        margin-right:640px
    }

    .medium-9 {
        width: 75%;
        position:relative
    }

    .medium-9-fixed {
        width:720px
    }

    .medium-push-9 {
        margin-left:75%
    }

    .medium-push-9-fixed {
        margin-left:720px
    }

    .medium-pull-9 {
        margin-right:75%
    }

    .medium-pull-9-fixed {
        margin-right:720px
    }

    .medium-10 {
        width: 83.33333%;
        position:relative
    }

    .medium-10-fixed {
        width:800px
    }

    .medium-push-10 {
        margin-left:83.33333%
    }

    .medium-push-10-fixed {
        margin-left:800px
    }

    .medium-pull-10 {
        margin-right:83.33333%
    }

    .medium-pull-10-fixed {
        margin-right:800px
    }

    .medium-11 {
        width: 91.66667%;
        position:relative
    }

    .medium-11-fixed {
        width:880px
    }

    .medium-push-11 {
        margin-left:91.66667%
    }

    .medium-push-11-fixed {
        margin-left:880px
    }

    .medium-pull-11 {
        margin-right:91.66667%
    }

    .medium-pull-11-fixed {
        margin-right:880px
    }

    .medium-12 {
        width: 100%;
        position:relative
    }

    .medium-12-fixed {
        width:960px
    }

    .medium-push-12 {
        margin-left:100%
    }

    .medium-push-12-fixed {
        margin-left:960px
    }

    .medium-pull-12 {
        margin-right:100%
    }

    .medium-pull-12-fixed {
        margin-right:960px
    }

    .medium-remaining {
        float: none;
        overflow:hidden
    }

    .medium-last {
        float: right !important;
        right:0
    }

    .medium-last:after {
        content: "";
        display: table;
        clear:both
    }
}

@media only screen and (max-width: 600px) {
    .small-1 {
        width: 8.33333%;
        position:relative
    }

    .small-1-fixed {
        width:33.33333px
    }

    .small-push-1 {
        margin-left:8.33333%
    }

    .small-push-1-fixed {
        margin-left:33.33333px
    }

    .small-pull-1 {
        margin-right:8.33333%
    }

    .small-pull-1-fixed {
        margin-right:33.33333px
    }

    .small-2 {
        width: 16.66667%;
        position:relative
    }

    .small-2-fixed {
        width:66.66667px
    }

    .small-push-2 {
        margin-left:16.66667%
    }

    .small-push-2-fixed {
        margin-left:66.66667px
    }

    .small-pull-2 {
        margin-right:16.66667%
    }

    .small-pull-2-fixed {
        margin-right:66.66667px
    }

    .small-3 {
        width: 25%;
        position:relative
    }

    .small-3-fixed {
        width:100px
    }

    .small-push-3 {
        margin-left:25%
    }

    .small-push-3-fixed {
        margin-left:100px
    }

    .small-pull-3 {
        margin-right:25%
    }

    .small-pull-3-fixed {
        margin-right:100px
    }

    .small-4 {
        width: 33.33333%;
        position:relative
    }

    .small-4-fixed {
        width:133.33333px
    }

    .small-push-4 {
        margin-left:33.33333%
    }

    .small-push-4-fixed {
        margin-left:133.33333px
    }

    .small-pull-4 {
        margin-right:33.33333%
    }

    .small-pull-4-fixed {
        margin-right:133.33333px
    }

    .small-5 {
        width: 41.66667%;
        position:relative
    }

    .small-5-fixed {
        width:166.66667px
    }

    .small-push-5 {
        margin-left:41.66667%
    }

    .small-push-5-fixed {
        margin-left:166.66667px
    }

    .small-pull-5 {
        margin-right:41.66667%
    }

    .small-pull-5-fixed {
        margin-right:166.66667px
    }

    .small-6 {
        width: 50%;
        position:relative
    }

    .small-6-fixed {
        width:200px
    }

.small-push-6 {
    margin-left:50%
}

.small-push-6-fixed {
    margin-left:200px
}

.small-pull-6 {
    margin-right:50%
}

.small-pull-6-fixed {
    margin-right:200px
}

.small-7 {
    width: 58.33333%;
    position:relative
}

.small-7-fixed {
    width:233.33333px
}

.small-push-7 {
    margin-left:58.33333%
}

.small-push-7-fixed {
    margin-left:233.33333px
}

.small-pull-7 {
    margin-right:58.33333%
}

.small-pull-7-fixed {
    margin-right:233.33333px
}

.small-8 {
    width: 66.66667%;
    position:relative
}

.small-8-fixed {
    width:266.66667px
}

.small-push-8 {
    margin-left:66.66667%
}

.small-push-8-fixed {
    margin-left:266.66667px
}

.small-pull-8 {
    margin-right:66.66667%
}

.small-pull-8-fixed {
    margin-right:266.66667px
}

.small-9 {
    width: 75%;
    position:relative
}

.small-9-fixed {
    width:300px
}

.small-push-9 {
    margin-left:75%
}

.small-push-9-fixed {
  margin-left:300px
}

.small-pull-9 {
  margin-right:75%
}

.small-pull-9-fixed {
  margin-right:300px
}

.small-10 {
  width: 83.33333%;
  position:relative
}

.small-10-fixed {
  width:333.33333px
}

.small-push-10 {
  margin-left:83.33333%
}

.small-push-10-fixed {
  margin-left:333.33333px
}

.small-pull-10 {
  margin-right:83.33333%
}

.small-pull-10-fixed {
  margin-right:333.33333px
}

.small-11 {
  width: 91.66667%;
  position:relative
}

.small-11-fixed {
  width:366.66667px
}

.small-push-11 {
  margin-left:91.66667%
}

.small-push-11-fixed {
  margin-left:366.66667px
}

.small-pull-11 {
  margin-right:91.66667%
}

.small-pull-11-fixed {
  margin-right:366.66667px
}

.small-12 {
  width: 100%;
  position:relative
}

.small-12-fixed {
  width:400px
}

.small-push-12 {
  margin-left:100%
}

.small-push-12-fixed {
  margin-left:400px
}

.small-pull-12 {
  margin-right:100%
}

.small-pull-12-fixed {
  margin-right:400px
}

.small-remaining {
  float: none;
  overflow:hidden
}

.small-last {
  float: right !important;
  right:0
}

.small-last:after {
  content: "";
  display: table;
  clear: both
  }
}